.Footer{
    background-color: rgba(2,32,131,.986);
    color: #fff;
    width: 100%;
    height:20vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
  }