body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img{
  width:auto;
  height: 9vh;
}

.Lista{
  align-items: center;
  text-align: left;
  display: flex;
  justify-content: center;
  line-height: 1.5em;
}

.Body button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2.5vh;
  padding: .5em .5em;
  margin-top: 2.5vh;
  cursor: pointer;
  position: relative;
  box-shadow: 0vh 0vh 1vh black;
}
